<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
        integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <style>
        #content {
            height: fit-content;
            position: relative;
            margin: 0 auto;
            margin-top: 5%;
            text-align: center;
        }
    </style>

    <style id="damage_object_animation"></style>

    <div class="offcanvas offcanvas-end" data-bs-backdrop="false" tabindex="-1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">세팅</h5>
        </div>
        <div class="offcanvas-body" id="setting_section">
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="damage_skin_select_btn"
                    data-bs-toggle="dropdown" aria-expanded="false" style="width:100%">
                    <img src="" class="damage_skin_img" id="damage_skin_btn_templete">
                    데미지 스킨 선택
                </button>
                <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="damage_skin_select_btn"
                    style="width:100%">
                    <li id="damage_skin_num_1" data-value="기본" onclick="damage_skin_select('1')"><a
                            class="dropdown-item" href="#"><img src="../static/img/damage_skin/기본데미지스킨/기본데미지스킨_템플릿.png"
                                class="damage_skin_img"><span>기본 데미지 스킨</span></a></li>
                    <li id="damage_skin_num_2" data-value="스타플래닛" onclick="damage_skin_select('2')"><a
                            class="dropdown-item" href="#"><img
                                src="../static/img/damage_skin/스타플래닛데미지스킨/스타플래닛데미지스킨_템플릿.png"
                                class="damage_skin_img"><span>스타플래닛 데미지 스킨</span></a></li>
                </ul>
            </div>
            <br>
            <div style="border: 1px solid gray;border-radius: 5px;padding:5%;">
                <h4>데미지 세팅</h4>
                <br>
                <div class="mb-3">
                    <label for="max_damage" class="form-label">Max damage</label>
                    <input type="number" class="form-control" id="max_damage" placeholder="Max damage" onkeyup="max_damage_set($('#max_damage').val())">
                </div>
                <div class="mb-3">
                    <label for="min_damage" class="form-label">Min damage</label>
                    <input type="number" class="form-control" id="min_damage" placeholder="Min damage" onkeyup="min_damage_set($('#min_damage').val())">
                </div>
            </div>
            <br>
            <div style="border: 1px solid gray;border-radius: 5px;padding:5%;">
                <h4>크리티컬 세팅</h4>
                <br>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" id="critical_reduction">-10</button>
                    <input type="text" class="form-control" id="critical_probability" style="text-align:center"
                        readonly>
                    <button type="button" class="btn btn-primary" id="critical_increase">+10</button>
                </div>
            </div>
            <br>
            <div style="border: 1px solid gray;border-radius: 5px;padding:5%;">
                <h4>타수 세팅</h4>
                <br>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-primary" id="combo_reduction">-1</button>
                    <input type="text" class="form-control" id="combo" style="text-align:center" readonly>
                    <button type="button" class="btn btn-primary" id="combo_increase">+1</button>
                </div>
                <br>
                <br>
                <button type="button" class="btn btn-primary" id="min_combo_btn">최소 타수</button>
                <button type="button" class="btn btn-primary" id="max_combo_btn">최대 타수</button>
            </div>
            <br>
            <div style="text-align:center">
                <button type="button" class="btn btn-primary" style="width:40%" id="apply">적용</button>
                <button type="button" class="btn btn-danger" style="width:40%" id="cancel">취소</button>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand">데미지 스킨 시뮬레이터</a>
            <button style="border: 1px solid gray;border-radius: 5px;" id="setting_btn">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </nav>

    <div id="content">
        <h1>핑크빈 쳐보던가</h1>
        <img onclick="click_damage_btn(btn_count)" src="../static/img/damage_measurement/핑크빈.png" style="
        position:fixed;
        left:50%;
        transform:translate(-50%, 0);
        bottom:0;
        cursor:pointer;
        outline:none;
        -webkit-tap-highlight-color : rgba(0,0,0,0);">
        <div style="position:fixed;right:0;bottom:0;width:400px">
            <h3>총합 데미지<img src="../static/img/damage_skin/공용이미지/초기화.png" style="width:25px;height:25px;margin-left:10px;cursor:pointer" id="dmg_reset"></h3>
            <p id="total_damage" style="font-size:1.5em"></p>
        </div>
    </div>

    <script>
        let max_damage_sys;
        let min_damage_sys;
        let max_damage;
        let min_damage;
        let critical_probability;
        let max_damage_combo;
        let min_damage_combo;
        let damage_combo;
        let btn_count;
        let total_damage;
        let damage_skin;
        let damage_skin_temp;
        let damage_skin_num_temp;
        let damage_skin_btn_templete;
        let damage_skin_btn_templete_temp;

        setting_init();

        $("#setting_btn").click(function () {
            $('#setting_section').scrollTop(0);
            $('#offcanvasRight').offcanvas('show');
        })

        $("#critical_increase").click(function () {
            if (Number($("#critical_probability").val()) < 100) {
                $("#critical_probability").val(Number($("#critical_probability").val()) + 10);
            }
        })

        $("#critical_reduction").click(function () {
            if (Number($("#critical_probability").val()) > 0) {
                $("#critical_probability").val(Number($("#critical_probability").val()) - 10);
            }
        })

        $("#combo_increase").click(function () {
            if (Number($("#combo").val()) < 15) {
                $("#combo").val(Number($("#combo").val()) + 1);
            }
        })

        $("#combo_reduction").click(function () {
            if (Number($("#combo").val()) > 1) {
                $("#combo").val(Number($("#combo").val()) - 1);
            }
        })

        $("#max_combo_btn").click(function () {
            $("#combo").val(max_damage_combo);
        })

        $("#min_combo_btn").click(function () {
            $("#combo").val(min_damage_combo);
        })

        $("#apply").click(function () {
            max_damage = Number($("#max_damage").val());
            min_damage = Number($("#min_damage").val());
            critical_probability = Number($("#critical_probability").val());
            damage_combo = Number($("#combo").val());
            damage_skin_num = damage_skin_num_temp;
            damage_skin = damage_skin_temp;
            damage_skin_btn_templete = damage_skin_btn_templete_temp;
            $("#damage_skin_btn_templete").attr("src", damage_skin_btn_templete);
            if ($("#max_damage").val().length == 0) {
                $("#max_damage").val(0);
            }
            if ($("#min_damage").val().length == 0) {
                $("#min_damage").val(0);
            }
            $("#offcanvasRight").offcanvas("hide");
            damage_object_animation_init();
        })

        $("#cancel").click(function () {
            offcanvas_init();
            $("#damage_skin_btn_templete").attr("src", damage_skin_btn_templete);
            $("#offcanvasRight").offcanvas("hide");
        })

        $("#dmg_reset").click(function () {
            total_damage = 0;
            $("#total_damage").html(total_damage);
        })

        function max_damage_set(value) {
            if (value > max_damage_sys) {
                $("#max_damage").val(max_damage_sys);
            }
            if (value < 0) {
                $("#max_damage").val(min_damage_sys);
            }
        }

        function min_damage_set(value) {
            if (value < 0) {
                $("#min_damage").val(min_damage_sys);
            }
            if (value > max_damage_sys) {
                $("#min_damage").val(max_damage_sys);
            }
        }

        function setting_init() {
            max_damage_sys = 150000000000;
            min_damage_sys = 0;
            max_damage = max_damage_sys;
            min_damage = min_damage_sys;
            critical_probability = 50;
            max_damage_combo = 15;
            min_damage_combo = 1;
            damage_combo = 5;
            btn_count = 0;
            total_damage = 0;
            damage_skin_num = "1";
            damage_skin = $(`#damage_skin_num_1`).data("value");
            damage_skin_temp = damage_skin;
            damage_skin_btn_templete = "../static/img/damage_skin/기본데미지스킨/기본데미지스킨_템플릿.png";
            $("#damage_skin_btn_templete").attr("src", damage_skin_btn_templete);
            $("#total_damage").html(total_damage);
            damage_object_animation_init();
            offcanvas_init();
        }

        function damage_object_animation_init() {
            // let bottom_from = 28;
            // let bottom_to = 32;
            let bottom_from = 150;
            let bottom_to = 180;

            $("#damage_object_animation").empty();

            for (var i = 1; i <= damage_combo; i++) {
                $("#damage_object_animation").append(`
                    .damage${i} {
                        width: 100%;
                        position: fixed;
                        animation: damage${i} 2s forwards;
                    }

                    @keyframes damage${i} {
                        from {
                            opacity: 1;
                            left: 0;
                            bottom: ${bottom_from}px;
                        }

                        to {
                            opacity: 0;
                            left: 0;
                            bottom: ${bottom_to}px;
                        }
                    }
                `)
                // bottom_from += 4;
                // bottom_to += 4;
                bottom_from += 30;
                bottom_to += 30;
            }
        }

        function offcanvas_init() {
            $("#max_damage").val(max_damage);
            $("#min_damage").val(min_damage);
            $("#critical_probability").val(critical_probability);
            $("#combo").val(damage_combo);
        }

        function damage_skin_select(number) {
            damage_skin_num_temp = number.toString();
            damage_skin_temp = $(`#damage_skin_num_${damage_skin_num_temp}`).data("value");
            damage_skin_btn_templete_temp = `../static/img/damage_skin/${damage_skin_temp}데미지스킨/${damage_skin_temp}데미지스킨_템플릿.png`;
            $("#damage_skin_btn_templete").attr("src", damage_skin_btn_templete_temp);
        }

        function click_damage_btn() {
            const templete_head = `<div class="damage damage_${btn_count}">`;
            const templete_tail = `</div>`;
            const damage_arr = new Array();
            let btn_count_clone = btn_count;
            for (var i = 0; i < damage_combo; i++) {
                damage_arr.push(create_damage_object(i));
            }
            for (var i = 0; i < damage_combo; i++) {
                if (i != 0) {
                    (function (x) {
                        setTimeout(function () {	// 인스턴스 함수로 설정
                            damage_object = templete_head + damage_arr[x].img + templete_tail;
                            $("#content").append(damage_object);
                            $(".damage_img").attr("style", "margin-left: -10px");
                            remove_damage_object(btn_count_clone, x + 1);
                            total_damage += damage_arr[x].dmg;
                            $("#total_damage").html(numberToKorean(total_damage));
                        }, 100 * x);
                    })(i);	// 시간 설정
                } else {
                    damage_object = templete_head + damage_arr[i].img + templete_tail;
                    $("#content").append(damage_object);
                    $(".damage_img").attr("style", "margin-left: -10px");
                    remove_damage_object(btn_count_clone, i + 1);
                    total_damage += damage_arr[i].dmg;
                    $("#total_damage").html(numberToKorean(total_damage));
                }
            }
            btn_count++;
        }

        function create_damage_object(damage_iterator) {
            const damage = Math.floor(Math.random() * (max_damage - min_damage + 1) + min_damage);
            const damage_str = damage.toString();
            const critical_probability_contrast = Math.floor(Math.random() * (100 - 1 + 1) + 1);
            let templete_body = ``;
            let damage_object;
            let result = new Object();
            damage_iterator++;

            templete_body += `<div class="damage${damage_iterator}">`;
            if (critical_probability_contrast <= critical_probability) {
                templete_body += `<img src="../static/img/damage_skin/${damage_skin}데미지스킨/크리티컬o/${damage_skin}데미지_크리티컬o_표식.png" class="damage_img">`
                for (var j = 0; j < damage_str.length; j++) {
                    templete_body += `<img src="../static/img/damage_skin/${damage_skin}데미지스킨/크리티컬o/${damage_skin}데미지_크리티컬o_${damage_str[j]}.png" class="damage_img">`
                }
            } else {
                for (var j = 0; j < damage_str.length; j++) {
                    templete_body += `<img src="../static/img/damage_skin/${damage_skin}데미지스킨/크리티컬x/${damage_skin}데미지_크리티컬x_${damage_str[j]}.png" class="damage_img">`
                }
            }
            templete_body += "</div>";
            damage_object = templete_body;
            result.img = damage_object;
            result.dmg = damage;
            return result;
        }

        function numberFormat(x) {
            return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        }

        function numberToKorean(number) {
            var inputNumber = number < 0 ? false : number;
            var unitWords = ['', '만', '억', '조', '경'];
            var splitUnit = 10000;
            var splitCount = unitWords.length;
            var resultArray = [];
            var resultString = '';

            for (var i = 0; i < splitCount; i++) {
                var unitResult = (inputNumber % Math.pow(splitUnit, i + 1)) / Math.pow(splitUnit, i);
                unitResult = Math.floor(unitResult);
                if (unitResult > 0) {
                    resultArray[i] = unitResult;
                }
            }

            for (var i = 0; i < resultArray.length; i++) {
                if (!resultArray[i]) continue;
                resultString = String(numberFormat(resultArray[i])) + unitWords[i] + resultString;
            }

            return resultString;
        }

        function remove_damage_object(btn_count_clone, damage_object_num) {   // n초 뒤 엘리먼트 삭제
            setTimeout(function () {	// 인스턴스 함수로 설정
                $(`div.damage_${btn_count_clone.toString()}`).find(`div.damage${damage_object_num}`).remove();
                //$(".damage_" + btn_count_clone.toString()).remove();
            }, 2000)	// 시간 설정

            setTimeout(function () {	// 인스턴스 함수로 설정
                $(".damage_" + btn_count_clone.toString()).remove();
            }, 2000 + (100 * damage_combo))	// 시간 설정
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>